@model Employee
@{
    ViewData["Title"] = "Details";//????????????
}


<h1>Details</h1>
<h2 style="color:@ViewBag.Color">@Model.Name</h2>
<h2 style="color:@ViewData["Color"];">@Model.Name</h2>

<hr />
<h3>@ViewData["Msg"]</h3>
<h3>@ViewBag.Msg</h3>
<hr />


<h3>@(int.Parse(ViewData["Temp"].ToString())+5)</h3>
<h3>@(ViewBag.Temp + 5)</h3>
<hr />

<select class="form form-control">
    @foreach (var item in (List<string>)ViewData["Branches"])
    {
        <option>@item</option>
    }
</select>
<select class="form form-control">
    @foreach (var item in ViewBag.Branches)
    {
        <option>@item</option>
    }
</select>
<!--
ViewData Problem  (Scop one action to returned view)
    1) Magic String
    2) Type Cast
    3) perrormace

-->